/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.text {
  color: #000000;
  margin-right: 35px;
  margin-top: 21px;
  font-size: 11px;
  font-weight: bold;
  line-height: 12.89px;
}

.footer, .container {
  max-width: 1165px;
  width: 100%;
  margin: 0 auto;
}

h2 {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}

.div1,
.div2,
.div3 {
  height: 357px;
  width: 362px;
  background-color: #FFFFFF;
  border-radius: 1%;
}

.p5,
.p7,
.p9 {
  color: #8A8787;
  font-size: 10px;
  font-weight: bold;
  line-height: 11.72px;
  margin-left: 37px;
}

.p4,
.p6,
.p8 {
  top: 37px;
  left: 40px;
  position: absolute;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700px;
}

body {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee;
}

.header {
  width: 100%;
  display: flex;
}

h2 {
  margin-top: 33px;
  margin-bottom: 27px;
}

.h2 {
  margin-top: 57px;
  margin-bottom: 30px;
}

.img {
  height: 32px;
  width: 32px;
  margin-top: 11px;
}

.section1 {
  display: flex;
  justify-content: space-between;
}

.p5,
.p7,
.p9 {
  margin-top: 68px;
  margin-bottom: 11px;
}

.p10 {
  display: inline;
  color: #8A8787;
  font-size: 10px;
}

.clock {
  margin-left: 37px;
  margin-right: 11px;
}

footer {
  background-color: #243043;
  width: 100%;
  height: 201px;
}

.div1,
.div2,
.div3 {
  position: relative;
}

.clock,
.p10 {
  vertical-align: middle;
}

.navs {
  display: inline-flex;
  flex-direction: column;
  margin-top: 45px;
}

.navs p {
  display: inline;
  line-height: 14.06px;
  color: #818687;
  font-size: 12px;
  font-weight: bold;
  margin-top: 14px;
}

.txt, .owl {
  vertical-align: text-top;
}

.owl {
  margin-left: 398px;
}

.nav2 {
  margin-left: 75px;
}

.nav3 {
  margin-left: 100px;
}

.nav4 {
  margin-left: 112px;
}

.section2 {
  position: relative;
  height: 938px;
}

.bridge {
  position: absolute;
  top: 0px;
  left: 0px;
  position: relative;
}

.p11 {
  position: absolute;
  top: 203px;
  left: 278px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}

.mountain {
  position: absolute;
  top: 472px;
  left: 0px;
}

.forest {
  position: absolute;
  top: 0px;
  right: 0px;
}

.elephant {
  position: absolute;
  top: 310px;
  right: 0px;
}

.scyscraper {
  position: absolute;
  top: 625px;
  right: 0px;
}/*# sourceMappingURL=styles.css.map */